version: '3.8'
services: 
    api-service:
        build: ./api/
        volumes: 
            - ./api/:/usr/src/app/
        ports: 
            - 5000:5000
        environment: 
            PORT: 5000
            FLASK_DEBUG: 1
            DB_FILE: database.db
    #db-service:
    #    build: ./db/
    #    volumes:
    #        - ./db/:/usr/src/db/
    #    ports:
    #        - 9000:9000
    #    environment:
    #        DB_FILE: database.db